.navbar{
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    float: left;
    display: block;
    position: fixed;
    top: 70px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

.navbar-row {
    display: flex;
    flex-direction: row;
}

.navigate-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigate {
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style: none;
}

.new {
    margin-bottom: -10px;
    margin-top: -10px;
}
.navigate a {
    border: none;
    width: 80px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #dddddd;
    font-size: 15px;
    color: #333;
}

.navigate a:hover {
    background: orchid;
}

.nav a {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;

    /*box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.4);*/
    /*border: solid white 1px;*/
}

.nav a:hover{
    background: orchid;
}

.nav a:active{
    background: darkorchid;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 55px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
    overflow-y: auto;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
    background-color: #888;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.title-nav {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Roboto Thin", sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-collapse-centre {
    padding-right: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}